body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    letter-spacing: 0.3px;
    text-align: left;
    background-color: #222736;
}

b,
strong {
    font-weight: 700 !important;
}

.card-login {
    padding: 25px;
    border-radius: 10px !important;
    margin-top: 40px;
}

.form-control {
    display: block;
    width: 100%;
    height: 45px !important;
    padding: 0.47rem 0.75rem;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: #bfc8e2;
    background-color: #2e3548;
    background-clip: padding-box;
    border: 1px solid #32394e;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-success {
    color: #fff;
    background-color: #34c38f;
    border-color: #34c38f;
    padding: 13px 23px 13px 23px;
    transition: 0.3s;
}

.custom-control {
    position: relative;
    display: block;
    min-height: 1.21875rem;
    padding-left: 1.5rem;
    margin-bottom: 30px;
}

.forgot-password {
    transition: 0.3s;
}

.forgot-password:hover {
    opacity: 0.5;
}

.text-primary {
    color: #f77062 !important;
    transition: 0.3s;
}

a.text-primary:hover,
a.text-primary:focus {
    color: #be5348 !important;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    border-radius: 10px !important;
}

.mini-stats-wid {
    border-radius: 10px;
}

.profit-card {
    background: #2f3863;
    border-radius: 10px;
}

.pa-chart {
    width: 100%;
    height: 377px !important;
    background-color: #2a3042;
}

.logo {
    line-height: 70px;
    transition: 0.3s;
}

.logo:hover {
    opacity: 0.5;
}

.bx-cog {
    transition: 0.3s;
}

.bx-cog:hover {
    opacity: 0.5;
}

.dropdown-menu.show {
    transition: 0.3s;
    box-shadow: 0 12px 70px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: 10px;
}

.navbar-header .dropdown.show .header-item {
    background-color: transparent;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.35rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #bfc8e2;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    transition: 0.3s;
}

.reportrange-text[data-v-267f4ee2] {
    background: #fff;
    cursor: pointer;
    padding: 5px 5px;
    border: 0px !important;
    width: 100%;
    background: #2a3142 !important;
    padding: 12px 20px 12px 20px !important;
    transition: 0.3s;
    border-radius: 7px;
}

.reportrange-text[data-v-267f4ee2]:hover {
    opacity: 0.7;
}

.mr-2,
.mx-2 {
    margin-top: 13px !important;
    margin-right: 15px !important;
}

td[data-v-aab6e828],
th[data-v-aab6e828] {
    padding: 5px !important;
    background-color: #2a3142 !important;
}

.daterangepicker .calendar-table {
    border: 1px solid #2a3142 !important;
    border-radius: 4px;
    background-color: #2a3142 !important;
}

.daterangepicker td.in-range {
    background-color: #fa836f !important;
    border-color: transparent;
    color: #ffffff !important;
    border-radius: 0;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #d8634f !important;
    border-color: transparent;
    color: #fff;
}

.vue-daterange-picker .dropdown-menu[data-v-267f4ee2] {
    padding: 15px !important;
    background: #2a3142 !important;
    padding: 0;
    border: 0px;
    box-shadow: 0 12px 70px 0 rgba(0, 0, 0, 0.5);
}

.fa-calendar:before {
    content: "\F133";
    margin-right: 7px;
}

.daterangepicker .drp-buttons {
    clear: both;
    text-align: right;
    padding: 10px;
    border-top: 0px !important;
    line-height: 12px;
    vertical-align: middle;
}

.daterangepicker .drp-selected {
    display: inline-block;
    font-size: 12px;
    padding-right: 15px;
}

.vue-daterange-picker .dropdown-menu[data-v-267f4ee2] {
    padding: 0;
    border-radius: 10px;
}

.daterangepicker.opensleft:before {
    right: 9px;
    visibility: hidden;
}

.daterangepicker.opensleft:after {
    right: 10px;
    visibility: hidden;
}

.daterangepicker.opensleft[data-v-267f4ee2] {
    right: 0px !important;
    left: auto;
    margin-top: 20px;
}

.daterangepicker .drp-buttons .btn {
    margin-left: 8px;
    font-size: 12px;
    font-weight: 500 !important;
    transition: 0.3s;
    padding: 14px 25px !important;
}

.daterangepicker .drp-buttons .btn:hover {
    opacity: 0.7;
}

.btn-primary {
    color: #fff;
    background-color: #556ee7 !important;
    border-color: #556ee7 !important;
    padding: 12px 17px 12px 17px !important;
    transition: 0.3s;
    border-radius: 5px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #556ee6 !important;
    border-color: none !important;
    transform: scale(1.04);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #556ee6 !important;
    border-color: #556ee6 !important;
}

.channel-icons {
    margin-right: 10px;
}

.dropdown-item {
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    color: #bfc8e2;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    transition: 0.3s;
    padding: 13px 30px 10px 24px !important;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 650px !important;
        margin: 1.75rem auto;
    }
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 40px 40px 40px 50px !important;
}

.shopify-icon {
    margin-right: 15px;
    margin-top: -10px;
}

.text100 {
    font-weight: 100;
    margin-top: 30px;
    margin-bottom: 15px;
}

.font-size-10 {
    font-size: 13px !important;
    color: #fff;
    text-decoration: underline !important;
    transition: 0.3s;
}

.font-size-10:hover {
    opacity: 0.5;
    color: #fff;
}

.btn-cancel {
    color: #ffffff !important;
    background-color: #32394f !important;
    padding: 13px 23px 13px 23px;
    transition: 0.3s;
}

.btn-cancel:hover {
    opacity: 0.5;
}

.underlined {
    text-decoration: underline !important;
    transition: 0.3s;
}

.underlined:hover {
    opacity: 0.5;
}
